/* Responsive height */

/* @media (min-height: 768px) {
  .section4 {
    margin-top: -20px;
  }
  .section5 {
    margin-top: 20px;
  }
}

@media (min-height: 800px) {
  .section1 {
    padding-top: 20px;
  }

  .section4 {
    margin-top: -20px;
  }

  .section5 {
    margin-top: 60px;
  }
}

@media (min-height: 900px) {
  .section2 {
    padding-top: 40px;
  }

  .section3 {
    padding-top: 30px;
  }

  .section4 {
    margin-top: -40px;
  }

  .section5 {
    margin-top: 60px;
  }
}

@media (min-height: 1000px) and (max-height: 1080px) {
  .section1 {
    padding-top: 80px;
  }
  .section2 {
    padding-top: 80px;
  }
  .section4 {
    margin-top: 0px;
  }
  .section5 {
    margin-top: 60px;
  }
} */

/* Responsive width */

/* Base style for nav-toggle */
.nav-toggle {
  display: none; /* Hidden by default */
  font-size: 1.5rem; /* Increase the size as needed */
  cursor: pointer;
  z-index: 1000;
  position: relative;
  transition: color 0.1s ease; /* Smooth transition for color change */
}

/* Show nav-toggle on smaller screens */
@media (max-width: 768px) {
  .nav-toggle {
    display: block;
  }
}

/* Pseudo-elements for the "X" symbol */
.nav-toggle::before,
.nav-toggle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: black;
  top: 50%;
  left: 0;
  transform-origin: center; /* Smooth rotation around the center */
  transition: transform 0.3s ease-in, top 0.3s ease-in; /* Smooth transition */
  opacity: 0; /* Start hidden */
}

/* Hide the original text "☰" and show the "X" symbol when active */
.nav-toggle.active {
  color: transparent; /* Hide the text */
}

.nav-toggle.active::before {
  transform: rotate(45deg);
  opacity: 1; /* Show the line */
}

.nav-toggle.active::after {
  transform: rotate(-45deg);
  opacity: 1; /* Show the line */
}

/* Adjust position of the lines when active */
.nav-toggle.active::before {
  top: 50%; /* Center the line */
}

.nav-toggle.active::after {
  top: 50%; /* Center the line */
}

.nav-links-mobile {
  display: none;
}

/* .nav-links-mobile.active {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 160px;
  width: 100%;
  background-color: gray;
  list-style: none;
  font-size: xx-large;
  gap: 60px;
  z-index: 999;
} */

@media (max-width: 360px) {
  nav {
    justify-content: center;
    gap: 150px;
  }
  .nav-logo {
    width: 200px;
  }
  .nav-links {
    display: none;
  }
  .btn {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .link a::after {
    display: none;
  }

  .content {
    width: 90%;
    padding-top: 100px;
  }

  .content h4 {
    font-size: 1.1rem;
    margin-bottom: 0;
  }
  .content h1 {
    font-size: 2.1rem;
  }
}

@media (max-width: 390px) and (min-width: 360px) {
  nav {
    justify-content: space-evenly;
    gap: 150px;
  }
  .nav-logo {
    width: 70px;
  }
  .nav-links {
    display: none;
  }
  .btn {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .link a::after {
    display: none;
  }
  .nav-links-mobile .link {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    padding-bottom: 2px;
  }
  .nav-links-mobile .link::after {
    content: "";
    position: absolute;
    height: 0.5px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #23001e;
  }
  .nav-links-mobile .link a:hover {
    color: #fefffe;
  }
  .nav-links-mobile.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 80px 30px;
    right: 10px; /* Start from the right */
    left: auto; /* Ensure left is auto */
    top: 70px;
    max-width: 40%;
    background-color: rgba(215, 217, 177, 0.9);
    list-style: none;
    gap: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    z-index: 999;
    border-radius: 20px;
    box-shadow: 0px 2px 8px #23001e;
    animation: menuOpen 0.3s ease forwards;
    overflow: hidden;
  }

  @keyframes menuOpen {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }

  /* section1 */
  .content {
    width: 90%;
    padding-top: 100px;
  }

  .content h4 {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  .content h1 {
    font-size: 2.3rem;
  }
}

@media (max-width: 500px) and (min-width: 390px) {
  nav {
    justify-content: space-evenly;
    gap: 200px;
  }
  .nav-logo {
    max-width: 80px;
  }
  .nav-links {
    display: none;
  }
  .btn {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .link a::after {
    display: none;
  }
  .nav-links-mobile .link {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    padding-bottom: 2px;
  }
  .nav-links-mobile .link::after {
    content: "";
    position: absolute;
    height: 0.5px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #23001e;
  }
  .nav-links-mobile .link a:hover {
    color: #fefffe;
  }

  .nav-links-mobile.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 80px 30px;
    right: 10px; /* Start from the right */
    left: auto; /* Ensure left is auto */
    top: 60px;
    max-width: 40%;
    background-color: rgba(215, 217, 177, 0.9);
    list-style: none;
    gap: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    z-index: 999;
    border-radius: 20px;
    box-shadow: 0px 2px 8px #23001e;
    animation: menuOpen 0.3s ease forwards;
    overflow: hidden;
  }

  @keyframes menuOpen {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }

  /* section1 */
  .content {
    width: 80%;
    padding-top: 60px;
  }

  .content h4 {
    font-size: 1.5rem;
    margin-bottom: 0;
  }
  .content h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) and (min-width: 501px) {
  nav {
    justify-content: space-evenly;
    gap: 250px;
  }
  .nav-logo {
    max-width: 80px;
  }
  .nav-links {
    display: none;
  }
  .btn {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .link a::after {
    display: none;
  }
  .nav-links-mobile .link {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    padding-bottom: 2px;
  }
  .nav-links-mobile .link::after {
    content: "";
    position: absolute;
    height: 0.5px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #23001e;
  }
  .nav-links-mobile .link a:hover {
    color: #fefffe;
  }
  .nav-links-mobile.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 80px 30px;
    right: 10px; /* Start from the right */
    left: auto; /* Ensure left is auto */
    top: 70px;
    max-width: 40%;
    background-color: rgba(215, 217, 177, 0.9);
    list-style: none;
    gap: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    z-index: 999;
    border-radius: 20px;
    box-shadow: 0px 2px 8px #23001e;
    animation: menuOpen 0.3s ease forwards;
    overflow: hidden;
  }

  @keyframes menuOpen {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }

  /* section1 */
  .content {
    width: 80%;
    padding-top: 100px;
  }

  .content h4 {
    font-size: 1.6rem;
    margin-bottom: 0;
  }
  .content h1 {
    font-size: 2.6rem;
  }
}

@media (max-width: 768px) and (min-width: 601px) {
  nav {
    justify-content: space-evenly;
    gap: 300px;
  }
  .nav-logo {
    max-width: 80px;
  }
  .nav-links {
    display: none;
  }
  .btn {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
  .link a::after {
    display: none;
  }
  .nav-links-mobile .link {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    padding-bottom: 2px;
  }
  .nav-links-mobile .link::after {
    content: "";
    position: absolute;
    height: 0.5px;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #23001e;
  }
  .nav-links-mobile .link a:hover {
    color: #fefffe;
  }
  .nav-links-mobile.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 80px 30px;
    right: 10px; /* Start from the right */
    left: auto; /* Ensure left is auto */
    top: 90px;
    max-width: 40%;
    background-color: rgba(215, 217, 177, 0.9);
    list-style: none;
    gap: 20px;
    font-size: 20px;
    letter-spacing: 1px;
    z-index: 999;
    border-radius: 20px;
    box-shadow: 0px 2px 8px #23001e;
    animation: menuOpen 0.3s ease forwards;
    overflow: hidden;
  }

  @keyframes menuOpen {
    0% {
      height: 0%;
    }
    100% {
      height: 100%;
    }
  }

  /* section1 */
  .content {
    width: 80%;
    padding-top: 100px;
  }

  .content h4 {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .content h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1200px) and (min-width: 769px) {
  /* navbar */
  .nav-logo {
    max-width: 90px;
  }
  .nav-links {
    font-size: 1.3rem;
    gap: 3rem;
  }
  .btn {
    padding: 1rem 2rem;
    font-size: 1.1rem;
  }
  .nav-links-mobile.active {
    display: none;
  }

  /* section1 */
  .content {
    width: 80%;
    padding-top: 100px;
  }

  .content h4 {
    font-size: 2.5rem;
    margin-bottom: 0;
  }
  .content h1 {
    font-size: 3rem;
  }
}

@media (max-width: 1568px) and (min-width: 1201px) {
  /* navbar */
  .nav-logo {
    max-width: 100px;
  }
  .nav-links {
    font-size: 1.4rem;
    gap: 5rem;
  }
  .btn {
    padding: 1.1rem 2.1rem;
    font-size: 1.3rem;
  }
  .nav-links-mobile.active {
    display: none;
  }

  /* section1 */
  .content {
    width: 80%;
    padding-top: 100px;
  }
  .content h4 {
    font-size: 2.8rem;
    margin-bottom: 0;
    padding-top: 0.5rem;
  }
  .content h1 {
    font-size: 3.8rem;
  }
}

@media (max-width: 1920px) and (min-width: 1569px) {
  /* navbar */
  .nav-logo {
    max-width: 110px;
  }
  .nav-links {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    list-style: none;
    gap: 6rem;
  }
  .btn {
    padding: 1.1rem 2.1rem;
    font-size: 1.3rem;
  }
  .nav-links-mobile.active {
    display: none;
  }

  /* section1 */
  .content {
    width: 80%;
    padding-top: 100px;
  }
  .content h4 {
    font-size: 3rem;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 2rem;
  }
  .content h1 {
    font-size: 4rem;
  }
}
