body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
  scroll-behavior: smooth; /* For smooth scroll behavior */
  box-sizing: border-box;
}

/* Image and links */

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
}

/* Navbar */

nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 85%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #fefffe;
  align-items: center;
  justify-content: space-around;
  gap: 0.5rem;
  z-index: 1000;
}

.nav-logo {
  max-width: 100px;
}

.nav-links {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  list-style: none;
  gap: 6rem;
}

.link a {
  position: relative;
  padding-bottom: 0.5rem;
  color: #23001e;
}

.link a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  bottom: 0;
  left: 0;
  background-color: #ff8600;
  transition: all 0.3s ease;
}

.link a:hover::after {
  width: 90%;
}

.navbar ul li a {
  color: #23001e;
}

/* Page Sections */

.sections-container {
  display: flex;
  flex-direction: column;
  transition: transform 1s ease-in-out; /* Smooth transition */
}

.section {
  height: 100vh;
  display: flex;
  justify-content: center;
  color: #23001e;
  text-align: center;
}

.section1 {
  background: #fefffe;
}

.section2 {
  background: #fefffe;
}

.section3 {
  background: #38f9d7;
}

.section4 {
  background: #38f9d7;
}

.section5 {
  background: #38f9d7;
}

/* Contact Us Button */

.btn {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #23001e;
  background-color: #d7d9b1;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #e16f7c;
  color: #fefffe;
}

/* Explore Button */

.expbtn {
  padding: 1rem 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #23001e;
  background-color: #d7d9b1;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.expbtn:hover {
  background-color: #e16f7c;
  color: #fefffe;
}

/* Section 1 Content */

.content {
  display: flex;
  width: 1200px;
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
  background-color: #fefffe;
}

.content h4 {
  font-size: 3rem;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 3rem;
}

.content h1 {
  margin: 5 5 0 5;
  font-size: 4rem;
}

.p1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 1.75rem;
}

.content p {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 30px;
}

.artora {
  color: #e16f7c;
  text-shadow: 0px 0px 3px #e16f7c;
}

/* about us menu  */

.menu {
  display: flex;
  margin-top: 8rem;
  width: 1200px;
  background-color: #fefffe;
  justify-content: center;
  gap: 2rem;
}

.menu-option {
  display: flex;
  padding: 10px 100px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #d7d9b1;
  border: none;
  border-radius: 45px;
}

.menu-option.active {
  padding: 10px 110px;
  color: #fefffe;
  background-color: #e16f7c;
  font-weight: bold;
  letter-spacing: 0.5px;
  text-shadow: 0px 0px 2px #fefffe;
  transition: background-color 1s ease;
  transition: letter-spacing 1s ease;
}

/* Menu content styles */
.menu-content {
  display: none;
}

.menu-content.active {
  display: block;
}

/* Content Containers */
/* About Us Option */

.content1-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin-top: 10px;
  background-color: #fefffe;
  justify-content: space-evenly;
  align-items: center;
}

.content1-image {
  max-width: 600px;
  padding-top: 60px;
}

.content1-container-p {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
  padding-top: 10px;
  background-color: #fefffe;
}

.content1-container-p h3 {
  margin-bottom: 0;
  font-size: 1.5rem;
}

.content1-container-p p {
  margin-bottom: 0;
  font-size: 1rem;
  text-align: justify;
}

/* Approach Option */

.content2-container {
  display: flex;
  flex-direction: row;
  background-color: #fefffe;
  max-width: 1200px;
  margin-top: 10px;
  padding-top: 10px;
  justify-content: center;
  gap: 50px;
  align-content: center;
  align-items: center;
}

.content2-image {
  max-width: 480px;
}

.content2-container-p {
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #fefffe;
}

.content2-container-p h3 {
  font-size: 2rem;
}

.content2-container-p p {
  margin-top: 0;
  font-size: 1.1rem;
  line-height: 25px;
  text-align: justify;
}

/* Our Values Option */

/* .content3-container {
  display: grid;
  grid-template-rows: 1fr, 1fr;
  grid-template-columns: 1fr, 1fr;
  background-color: #38f9d7;
  max-width: 1200px;
  height: 500px;
  margin-top: 10px;
  gap: 20px;
  padding: 20px;
}

.content3-container-p1 {
  grid-column: 1;
  grid-row: 1;
}

.content3-container-p2 {
  grid-column: 2;
  grid-row: 1;
}

.content3-container-p3 {
  grid-column: 1;
  grid-row: 2;
}

.content3-container-p4 {
  grid-column: 2;
  grid-row: 2;
}

.content3-container-p1,
.content3-container-p2,
.content3-container-p3,
.content3-container-p4 {
  border: #23001e solid;
  border-radius: 20px;
  display: flex;
  background-color: #fefffe;
  flex-direction: column;
  justify-content: center;
  align-content: first baseline;
  align-items: center;
}

.content3-container-p1 h3,
.content3-container-p2 h3,
.content3-container-p3 h3,
.content3-container-p4 h3 {
  font-size: 2rem;
  margin-bottom: 0;
  margin-top: 0;
}

.content3-container-p1 p,
.content3-container-p2 p,
.content3-container-p3 p,
.content3-container-p4 p {
  display: none;
}

.content3-container-p1 p:hover,
.content3-container-p2 p:hover,
.content3-container-p3 p:hover,
.content3-container-p4 p:hover {
  display: block;
  font-size: 1rem;
  width: 400px;
  text-align: justify;
  margin-top: 30px;
} */
.content3-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  background-color: #fefffe;
  max-width: 1200px;
  height: 500px;
  margin-top: 10px;
  gap: 20px;
  padding: 20px;
}

.content3-container-p1,
.content3-container-p2,
.content3-container-p3,
.content3-container-p4 {
  grid-column: span 1;
  grid-row: span 1;
  border: #23001e solid;
  border-width: 1px;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.content3-container-p1 h3,
.content3-container-p2 h3,
.content3-container-p3 h3,
.content3-container-p4 h3 {
  font-size: 2rem;
  margin: 0;
}

.content3-container-p1 p,
.content3-container-p2 p,
.content3-container-p3 p,
.content3-container-p4 p {
  font-size: 1.2rem;
  width: 400px;
  text-align: justify;
  margin-top: 30px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
  z-index: 10;
}

.content3-container-p1:hover p,
.content3-container-p2:hover p,
.content3-container-p3:hover p,
.content3-container-p4:hover p {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  cursor: default;
}
